@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
:root {
  font-family: Abeezee;
  font-size: clamp(1rem, 1.5vh, 2.5rem);
  background-color: #242424;
  color: white;
}

body {
  margin: 0px;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
}

.form-body {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: clamp(900px,50vw, 2000px);
}

@media (max-width: 900px) {
  .form-body {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}
