.section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    place-content: space-around;
    border-bottom: 2px dotted lightgray;
    gap: 2rem;
}

.section.general {
    flex: 0.5 1 0;
}

.section.education {
    flex: 1 1 0;
}

.section.experience {
    flex: 1 1 0;
}

.contacts {
    width: 50%;
    display: flex;
    gap: 1rem;
}

.name {
    width: 50%;
}

.date,
.info {
    width: 50%;
    display: flex;
    gap: 1rem;
}

.util {
    display: flex;
    place-content: flex-end;
    gap: 1rem;
}

.info {
    flex-direction: column;
}


@media (max-width: 500px) {
    .name,
    .contacts,
    .date,
    .info {
        width: 100%
    }
}
